body {
 font-family: deglacer;
}

#headerLogo{
    /* background-color: red; */
    width: 30vw;
    /* max-width: 534px; */
    /* width: 30%; */
    aspect-ratio: 1/1;
    transition: all 0.5s;
    transform-origin: 'top';
}

.header{
    top: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    gap: 18px;
    z-index: 10000;
    transform: translate(0%, -50%);
}

#mobile-menu{
    display: none;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    gap: 48px;
    position: fixed;
    right: 48px;
    z-index: 10000;
    opacity: 0;
    color: var(--secondary-color);
    transition: all 0.5s;
}

#menu span{
    display: inline-block;
}

#menu .reserveCTA{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 48px;
    right: 32px;
}

.messenger-icon{
    width: 68px;
    height: 68px;
    background-color: var(--secondary-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper{
    position: fixed;
	width: 100vw;
	height: 100vh;
    z-index: 6000;   
}


#loadingContainer{
	position: fixed;
	width: 100vw;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00533E;
}



.hero-warper{
	width: 100vw;
	height: 100vh;
    z-index: 2000;
    overflow: hidden;
    background-color: black;
}


#heroContainer{
	width: 100vw;
	height: 100vh;
    overflow: hidden;
    z-index: 2000;
    
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#heroContainer > svg{
	/* width: 100% !important;
	height: 100% !important; */
    overflow: hidden;
    transform-origin: center center;
}

.greenOverlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.5;
    pointer-events: none;
}

#aboutDeglacer{
    position: relative;
    width: 100vw;
    /* z-index: 2500; */
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    /* overflow: hidden; */
}

#aboutDeglacer .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 200;
    width: 400px;
    height: 300px;
    transition: all 0.5s ease-in-out;
    /* background-color: rgba(165, 42, 42, 0.483); */
}

.sticky .warper{
    position: relative;
}

.sticky .warper img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    transition: all 0.5s;
}


#aboutDeglacer > .content{
    margin: 50px 60px 200px 60px;
    max-width: 1000px;
}

#aboutDeglacer > #patternContainer{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 100;
}

/* Contact Us ======================= */
#contactUs{
    background-color: var(--pure-black);
    z-index: 2600;
    position: relative;
}

#contactUs .staffImg{
    z-index: 50;
    width: 100vw;
    box-sizing: border-box;
    height: 780px;
    position: relative;
    /* background-color: black; */
}

#contactUs #mask{
    z-index: 50;
    -webkit-mask-image: url(../asset/icon/mask.svg);
    mask-image: url(../asset/icon/mask.svg);
    -webkit-mask-size: 260px;
    mask-size: 260px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    top: 32;
    width: 100%;
    height: 100%;
    mask-position: 100px 100px;
    background-size: cover;
    background-position: center;
    background-image: url(../asset/contact-section/staff-main.webp);
  }

#contactUs .bg-img{
    z-index: 40;
    position: absolute;
    top: 32;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../asset/contact-section/staff-bg.webp);
}

#contactUs div{
    color: var(--secondary-color);
}

#contactUs #contactUsSeparateLine{
    background-color: var(--secondary-color);
    width: 100%;
    height: 0.2px;
}

#contactUs .content{
    z-index: 300;
    padding: 0px 32px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    position: relative;
    top: -214px;
}

#contactUs > .content > * {
    max-width: 960px;
}


#contactUs  .content * {
    z-index: 300;
}

#contactUs .content .text .normal-text{
    font-family: deglacer;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 181.4%; /* 43.536px */
    letter-spacing: 1.68px;
}


#contactUs .content .text .quote > *{
    font-size: 32px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 160% !important;
    letter-spacing: 2.24px;
}

#contactUs .info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contactUs .info .title{
    margin-bottom: 12px;
    display: inline-block;
}

#contactUs .social{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}


#contactUs .map{
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.googlemap{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: white;
}

.googlemap .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #67513D;
    mix-blend-mode: overlay;
    z-index: 100 !important;
    pointer-events: none;
}

.googlemap .overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(----main-color-100, #000);
    mix-blend-mode: color;
    z-index: 95 !important;
    pointer-events: none;
}

.googlemap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90 !important;
}


/* Meal Menu ------------------------------------------------------ */
#meal-menu{
    background-image: url( '../asset/icon/pattern-bg.svg' );
    background-repeat: repeat;
    background-position: center;
    position: relative;
    padding-bottom: 200px;
}

.meal-menu-container-bg{
    position: fixed;
    border-radius: 16px;
    background-color: #043C2D;
    border: 0.5px solid var(--secondary-color, #E0C0A4);
    width: -webkit-fill-available;
    margin: 0px 200px;
    padding: 32px 80px;
    height: 94vh;
    top: 62px;
    box-sizing: border-box;
    z-index: 0;
}

.meal-menu-container-bg .menu-bg-separate-line{
    height: 100%;
    width: -webkit-fill-available;
    border-left: 0.5px solid var(--secondary-color);
    border-right: 0.5px solid var(--secondary-color);
    display: flex;
    flex-direction: row-reverse;
}
.menu-bg-separate-line .scoller-small{
    height: 100%;
    width: 26px;
    position: relative;
    left: 58px;
}

#meal-menu .menu-background{
    position: fixed;
    border-radius: 16px;
    background-color: #033327;
    border: 0.5px solid var(--secondary-color, #E0C0A4);
    width: -webkit-fill-available;
    margin: 32px 190px;
    height: 90vh;
    top: 62px;
    box-sizing: border-box;
    z-index: 0;
}


#meal-menu #meal-menu-scroller {
    position: absolute;
    top: 0;
    height: 100vh;
    /* width: 50px; */
    left: 10px;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

#meal-menu #meal-menu-scroller #meal-menu-scroller-text{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    color: var(--Secondary-color, #E0C0A4);
    font-family: deglacer;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* opacity: 0.5; */
}

#meal-menu #meal-menu-scroller svg {
    width: 50px !important;
}


#meal-menu-list{
    /* margin-bottom: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 32px 200px;
    gap: 32px;
}

#meal-menu > #meal-menu-list > .meal-menu-container{
    position: relative;
    top: 50px;
    padding-bottom: 32px ;
    box-sizing: border-box;
    z-index: 100;
    /* background-color: #533d6769; */
}


.meal-menu-tabbar{
    /* border-bottom: 0.5px solid var(--secondary-color); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;
    padding: 24px 0px 24px 24px;
    box-sizing: border-box;
	transform: rotate(270deg) translate(-100%,80px);
	transform-origin: left bottom;
    position: sticky;
    top: 24px;
    width: fit-content;
    /* transition: all 1s ease-in-out; */
}

.meal-menu-tabbar-item{
    color: var(--secondary-color);
    opacity: 1;
    /* display: inline-block; */
    transition: all 0.5s ease;
}

.meal-menu-tabbar-item:hover{
    opacity: 0.5;
}


.meal-menu-sub1{
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 80px;
    margin: 0px 80px;
}

.meal-menu-sub2-title{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 16px;
    transition: all 0.5s;
}

#meal-menu .separate-line{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
    justify-content: center;
}

#meal-menu .separate-line hr{
    margin: 0px;
    border: 0.1px solid  #E0C0A420;
    width: 100%;
}

.end-section-separator{
    position: relative;
    height: 52px;
    transition: all 0.5s; 
}

.end-section-separator img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.meal-menu-sub2-title-text{
    width: auto;
    display: block;
    white-space:nowrap;
    text-transform: uppercase;
}

.meal-menu-sub2{
    margin: 12px 0px;
}

.meal-menu-sub1-title{
    transition: all 0.5s;
}


.meal-list-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 0px;
    gap: 0px 48px;
    position: relative;
}

.meal-list-div .meal-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 34%;
    flex-grow: 1;
    max-width: 50%;
}

.center-horizontal-line{
    position: absolute;
    top: 10%;
    width: 1px;
    height: 80%;
    left: 50%;
}

.meal-image-indicator{
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0%, -50%);
}

.meal-item .meal-item-row{
    margin: 0px 24px;
    display: flex;
    position: relative;
    background-color: #043c2d01;
    border-bottom: solid 0.5px #e0c0a410;

}

.meal-item-row .meal-info{
    text-align: left;
    color: var(--secondary-color);
    padding: 16px 0px;
    position: relative;
}

.meal-item-image-container .meal-image{
    max-width: 100vw;
    max-height: 100vh;
    display: none;
    transition: opacity 1s;
    opacity: 0;
    width: 30vw;
    position: fixed;
    top: 50vh;
    left: 0px;
    z-index: 5000;
    /* padding: 0px 200px; */
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* transition: all 1s ease-in-out; */
}

.meal-item-image-container{
    z-index: 1000;
    transition: all 1s ease-in-out;
    overflow: hidden;
    /* background-color: red; */
}

.meal-item-left * {
    transition: opacity 0.3s ease-in-out;
}

.meal-item-right * {
    transition: opacity 0.3s ease-in-out;
}

#event-container{
    background-color: #000;
}

.event-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    height: 100vh;
    pointer-events: none;

}

.event-element{
    border: solid 20px black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    pointer-events: auto;

    width: 800px;
    max-width: 100vw;
    min-height: 100vh;
    border-radius: 1000px 1000px 0px 0px;
    padding-top: 48px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.event-thumbnail{
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    border-radius: 1000px 1000px 0px 0px;
    transform-origin: top center;
}

#event-thumbnail-transition{
    position: fixed;
    z-index: 100001;
    opacity: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    border-radius: 1000px 1000px 0px 0px;
    transform-origin: top center;
}

#event-detail-background{
    background-color: rgba(0, 0, 0);
    height: 0px;
    width: 100vw;
    position: fixed;
    z-index: 100000;
    bottom: 0;
    left: 0;
}

#event-detail-info{
    color: var(--secondary-color) ;
    z-index: 100021;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40vh;
    padding: 48px 48px 180px 48px;
    background-color: #1D1D1B;
    box-sizing: border-box;
    width: 100vw;
    max-width: 700px;
}
#event-detail-name{
    color: var(--econdary-color, #E0C0A4);
    font-family: deglacer;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.6px;
}

#event-detail-host{
    color: var(--secondary-color, #E0C0A4);
    font-family: deglacer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
}

#event-detail-description, #event-detail-location, #event-detail-time, #event-detail-pricing{
    color: var(--Secondary-color, #E0C0A4);
    font-family: deglacer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 25.2px */
    letter-spacing: 1.4px;
}

#event-detail-images{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}

#event-detail-images *{
    max-width: 100%;
    max-height: 100%;
}


#event-detail-info-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

    z-index: 100020;
    position: fixed;
    top: 120vh;
    bottom:0;
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

#event-detail-exit{
    position: fixed;
    top: 16px;
    right: 16px;
    display: none;
    z-index: 100442;

}

.event-name-host{
    position: absolute;
    top: 0px;
    /* width: 100%; */
}


.event-content{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    align-items: center;
    z-index: 100;
}

.event-content > div{
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-content span{
    color: var(--secondary-color, #E0C0A4);
    text-align: center;
}

.event-content .event-name{
    text-align: center;
    font-family: deglacer;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.event-content button, #event-detail-container .event-detail-CTA{
    border-radius: 200px;
    background: var(--secondary-color, #E0C0A4);
    border: none;
    display: inline-block;
    padding: 24px 32px;
    font-family: deglacer;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    color: #000;
}

#event-detail-container .event-detail-CTA{
    position: fixed;
    z-index: 100221;
    bottom: -20vh;
    left: 50%;
    transform: translate(-50%,0%);
    width: 230px; 
    text-align: center;   
}


/* Mobile size ============================================== */

@media only screen and (max-width: 759px) {

    #menu{
        width: 100vw;
        height: 100vh;
        /* background-color: #a437d643; */
        right: 0px;
        top: 0px;
        pointer-events: none;
    }

    #menu .menu-about{
        left: 24px;
        top: 24px;
        position: fixed;
        pointer-events: auto;
    }

    #menu .menu-events{
        left: 24px;
        top: 24px;
        position: fixed;
        visibility: hidden;
        pointer-events: none;
    }

    #menu .menu-menu{
        position: fixed;
        right: 24px;
        top: 24px;
        pointer-events: auto;
    }

    #menu .menu-contact{
        position: fixed;
        left: 24px;
        bottom: 24px;
        pointer-events: auto;
    }
    
    #menu .reserveCTA{
        bottom: 24px;
        right: 12px;
        pointer-events: auto;
    }

    #headerLogo{
        width: 80vw;
    }

    #aboutDeglacer img{
        width: 250px;
        top: 0px;
    }

    #aboutDeglacer > .content{
        width: 90vw;
        box-sizing: border-box;
    }

    #aboutDeglacer #patternContainer{
        width: 100vw;
        scale: 4;
        overflow-x: hidden;
    }

    #aboutDeglacer .sticky{
        width: 100vw;
        overflow-x: clip;
    }

    #aboutDeglacer > .image{
        height: 330px;
    }

    #tagline{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 7%;
    }

    .header{
        width: 100vw;
        gap: 0px;
    }

    #contactUs .content {
        top: -60px;
    }

    #contactUs .content .text .normal-text{
        font-family: deglacer;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%;
        letter-spacing: 1.68px;
    }
    
    #contactUs .content .text .quote > *{
        font-size: 20px !important;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 160% !important;
        letter-spacing: 2.24px;
    }

    #contactUs .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: space-between;
    }

    #mask{
        display: none;
    }

    #contactUs .staffImg{
        height: 60vw;
    }


    /* Meal menu ------------- */
    #meal-menu #meal-menu-scroller, .meal-menu-tabbar{
        display: none !important;
    }
    #meal-menu-list{
        padding: 32px 8px !important;
    }

    .meal-menu-sub1{
        padding: 16px 8px !important;
        margin: 0px !important;
    }
    #meal-menu .menu-background{
        margin:  32px 4px;
    }

    .meal-menu-container-bg{
        margin: 8px;
    }

    .menu-bg-separate-line{
        display: none !important;
    }

    .meal-list-div{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .meal-list-div .center-horizontal-line{
        display: none;
    }

    .meal-list-div .meal-item{
        width: 100%;
        max-width: 100%;
    }
}


@media only screen and (min-width: 760px) and (max-width: 1200px) {

    #meal-menu-list{
        padding: 32px 120px !important;
    }

    .meal-menu-sub1{
        padding: 16px 24px !important;
        margin: 0px 80px !important;
    
    }
    #meal-menu .menu-background{
        /* margin:  32px 112px !important; */
        margin:  32px 112px;
    }

    .meal-menu-container-bg{
        /* margin: 0px 120px !important; */
        margin: 0px 120px;
    }

    #menu, #menu .reserveCTA {
        right: 16px !important;
    }

    #meal-menu #meal-menu-scroller #meal-menu-scroller-text{
        display: none;
    }
}