@font-face {
  font-family: deglacer;
  src: url(../font/Oldschool-Grotesk-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: deglacer;
  src: url(../font/Oldschool-Grotesk-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: deglacer;
  src: url(../font/Oldschool-Grotesk-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: deglacer;
  src: url(../font/Oldschool-Grotesk-Bold.otf);
  font-weight: 600;
}

/* ::-webkit-scrollbar { 
  display: none; 
  }   */

/* Custom scroll bar ============================*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}


body {
  margin: 0px;
  width: 100vw;
  background: var(--main-color);
}

body {
  overflow-x: hidden;
  /* width: 100vw; */
}

html {
  scroll-behavior: smooth;
}

/* Text Style ====================================== */

.light-10 {
  font-family: 'deglacer';
  font-size: 10px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.regular-10 {
  font-family: 'deglacer';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.medium-10 {
  font-family: 'deglacer';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bold-10 {
  font-family: 'deglacer';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.light-12 {
  font-family: 'deglacer';
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 18px;
  /* 150% */
  letter-spacing: 2.4px;

}

.regular-12 {
  font-family: 'deglacer';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 2.4px;
}

.medium-12 {
  font-family: 'deglacer';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 2.4px;
}

.bold-12 {
  font-family: 'deglacer';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 150% */
  letter-spacing: 2.4px;
}

.light-14 {
  font-family: 'deglacer';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.68px;
}

.regular-14 {
  font-family: 'deglacer';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.68px;
}

.medium-14 {
  font-family: 'deglacer';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
}

.bold-14 {
  font-family: 'deglacer';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
}

.light-16 {
  font-family: 'deglacer';
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.regular-16 {
  font-family: 'deglacer';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.medium-16 {
  font-family: 'deglacer';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.bold-16 {
  font-family: 'deglacer';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.light-24 {
  font-family: 'deglacer';
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.regular-24 {
  font-family: 'deglacer';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.medium-24 {
  font-family: 'deglacer';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a{
	text-decoration : none;
	color: var(--main-color-100);
}

a:hover{
	text-decoration : underline;
}



.bold-24 {
  font-family: 'deglacer';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-color{
  color: var(--main-color);
}

.secondary-color{
  color: var(--secondary-color);
}
.black{
  color: var(--black);
}
.white{
  color: var(--white);
}
.pure-black{
  color: var(--pure-black);
}

/* Color variables for darkmode and lightmode ============================*/
:root {
  --main-color: #00533E;
  --secondary-color: #E0C0A4;
  --black: #1D1D1B;
  --white: #FFFFFF;
  --pure-black: #000000;
}